{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block content %}
<div class="container">


    <h1>I am home </h1>

<hr>
<div class="row">
{% for category,tags in cat_tag_dict.items %}
<div class="col-md-3">
<p>category: <a href="{% url 'category-product' category.slug %}">{{category.name}}</a></p>
{% for tag in tags %}
<li>tag: <a href="{% url 'tag-product' tag.slug %}">{{tag.name}}</a></li>
{% empty %}
<p>No tag found !</p>
{% endfor %}
</div>

{% empty %}
<p>no categories</p>
{% endfor %}
</div>
<hr>
</div>
{% endblock content %}
    