{% extends 'base.html' %}
{% load humanize %}
{% block title %}Product Details{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
    
 <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Single Product</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="index-2.html"><i class="lni lni-home"></i> Home</a></li>
                        <li><a href="index-2.html">Shop</a></li>
                        <li>Single Product</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Start Item Details -->
    <section class="item-details section">
        <div class="container">
            <div class="top-area">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="product-images">
                            <main id="gallery">
                                <div class="main-img">
                                    {% if product.product_image.all %}
                                    <img src="{{ product.product_image.first.image.url }}" id="current" alt="#">
                                    {% endif %}
                                  </div>
                                <div class="images">
                                    {% for image in product.product_image.all %}
                                    <img src="{{image.image.url}}" class="img" alt="#">
                                    {% endfor %}
                                </div>
                            </main>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="product-info">
                            <h2 class="title">{{product.title}}</h2>
                            <p class="category"><i class="lni lni-tag"></i><a href="{% url 'category-product' product.category.slug %}">{{product.category}}</a>:
                              {% for tag in product.tag.all %}
                              <a href="{% url 'tag-product' tag.slug %}">{{tag.name}}</a>
                              {% endfor %}
                            </p>
                            <h3 class="price">Ksh {{product.price |floatformat:"2g"}}<span>$945</span></h3>
                            <p class="info-text">Availability <span class="text-success"> In Stock</span></p>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="form-group color-option">
                                        <label class="title-label" for="size">Choose color</label>
                                        <div class="single-checkbox checkbox-style-1">
                                            <input type="checkbox" id="checkbox-1" checked>
                                            <label for="checkbox-1"><span></span></label>
                                        </div>
                                        <div class="single-checkbox checkbox-style-2">
                                            <input type="checkbox" id="checkbox-2">
                                            <label for="checkbox-2"><span></span></label>
                                        </div>
                                        <div class="single-checkbox checkbox-style-3">
                                            <input type="checkbox" id="checkbox-3">
                                            <label for="checkbox-3"><span></span></label>
                                        </div>
                                        <div class="single-checkbox checkbox-style-4">
                                            <input type="checkbox" id="checkbox-4">
                                            <label for="checkbox-4"><span></span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="form-group">
                                        <label for="color">Battery capacity</label>
                                        <select class="form-control" id="color">
                                            <option>5100 mAh</option>
                                            <option>6200 mAh</option>
                                            <option>8000 mAh</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="form-group quantity">
                                        <label for="color">Quantity</label>
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-content">
                                <div class="row align-items-end">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="button cart-button">
                                            <a href ="{% url 'add-to-cart' product.slug %}" class="btn" style="width: 100%;">Add to Cart</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="wish-button">
                                            <button class="btn"><i class="lni lni-reload"></i> Compare</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="wish-button">
                                            <button class="btn"><i class="lni lni-heart"></i> To Wishlist</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-details-info">
                <div class="single-block">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="info-body custom-responsive-margin">
                                <h4>Details</h4>
                                <p>{{product.description}}</p>
                                <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus. Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Proin eget tortor risus.</p>
                                <h4>Features</h4>
                                <ul class="features">
                                    <li>Capture 4K30 Video and 12MP Photos</li>
                                    <li>Game-Style Controller with Touchscreen</li>
                                    <li>View Live Camera Feed</li>
                                    <li>Full Control of HERO6 Black</li>
                                    <li>Use App for Dedicated Camera Operation</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="info-body">
                                <h4>Specifications</h4>
                                <ul class="normal-list">
                                    <li><span>Weight:</span> 35.5oz (1006g)</li>
                                    <li><span>Maximum Speed:</span> 35 mph (15 m/s)</li>
                                    <li><span>Maximum Distance:</span> Up to 9,840ft (3,000m)</li>
                                    <li><span>Operating Frequency:</span> 2.4GHz</li>
                                    <li><span>Manufacturer:</span> GoPro, USA</li>
                                </ul>
                                <h4>Shipping Options:</h4>
                                <ul class="normal-list">
                                    <li><span>Courier:</span> 2 - 4 days, $22.50</li>
                                    <li><span>Local Shipping:</span> up to one week, $10.00</li>
                                    <li><span>UPS Ground Shipping:</span> 4 - 6 days, $18.00</li>
                                    <li><span>Unishop Global Export:</span> 3 - 4 days, $25.00</li>
                                </ul>
                                <a href="{% url 'update-product' product.slug %} " class="btn btn-primary">Update</a>
                                <a href="{% url 'delete-product' product.slug %}" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-12">
                        <div class="single-block give-review">
                            <h4>{{product.average_rating | stringformat:".1f"}} (Overall)</h4>
                            <ul>
                                {% for rating, count in product.ratingCounter.items %}
                                {% if rating == 5 %}
                                <li>
                                    <span>{{ rating }} stars - {{count}} </span>
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star-filled"></i>
                                </li>
                                {% elif rating == 4  %}
                                <li>
                                    <span>{{rating}} stars - {{count}}</span>
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star"></i>
                                </li>
                                {% elif rating == 3  %}
                                <li>
                                    <span>{{rating}} stars - {{count}}</span>
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star"></i>
                                    <i class="lni lni-star"></i>
                                </li>
                                {% elif rating == 2  %}
                                <li>
                                    <span>{{rating}} stars - {{count}}</span>
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star"></i>
                                    <i class="lni lni-star"></i>
                                    <i class="lni lni-star"></i>
                                </li>
                                {% elif rating == 1  %}
                                <li>
                                    <span>1 star - 0</span>
                                    <i class="lni lni-star-filled"></i>
                                    <i class="lni lni-star"></i>
                                    <i class="lni lni-star"></i>
                                    <i class="lni lni-star"></i>
                                    <i class="lni lni-star"></i>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                            <ul>
                                <hr>
  
    
</ul>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn review-btn" data-bs-toggle="modal"
                                data-bs-target="#ratingModal">
                                Leave a Review
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-8 col-12">
                        <div class="single-block">
                            <div class="reviews">
                                <h4 class="title">Latest Reviews</h4>
                                <!-- Start Single Review -->
                                {% for review in product.product_ratings.all %}
                                <div class="single-review">
                                    <img src="{{review.user.user_profile.profile.url}}" alt="#">
                                    <div class="review-info">
                                        <h4>{{review.title}}
                                            <span>{{review.user.username}}
                                            </span>
                                        </h4>
                                        <ul class="stars">
                                            
                                            {% if review.ratings == 1 %}
                                                <li><i class="lni lni-star-filled"></i></li>                                            
                                                <i class="lni lni-star"></i>
                                                <i class="lni lni-star"></i>
                                                <i class="lni lni-star"></i>
                                                <i class="lni lni-star"></i>
                                            {% elif  review.ratings == 2 %}
                                                <li><i class="lni lni-star-filled"></i></li>                                            
                                                <li><i class="lni lni-star-filled"></i></li>
                                                <i class="lni lni-star"></i>
                                                <i class="lni lni-star"></i>
                                                <i class="lni lni-star"></i>                                            

                                            {% elif review.ratings == 3 %}
                                                <li><i class="lni lni-star-filled"></i></li>                                            
                                                <li><i class="lni lni-star-filled"></i></li>
                                                <li><i class="lni lni-star-filled"></i></li>
                                                <i class="lni lni-star"></i>
                                                <i class="lni lni-star"></i>

                                            {% elif review.ratings == 4 %}
                                                <li><i class="lni lni-star-filled"></i></li>                                            
                                                <li><i class="lni lni-star-filled"></i></li>
                                                <li><i class="lni lni-star-filled"></i></li>
                                                <li><i class="lni lni-star-filled"></i></li>
                                                <i class="lni lni-star"></i>

                                            {% elif review.ratings == 5 %}
                                                <li><i class="lni lni-star-filled"></i></li>                                            
                                                <li><i class="lni lni-star-filled"></i></li>
                                                <li><i class="lni lni-star-filled"></i></li>
                                                <li><i class="lni lni-star-filled"></i></li>
                                                <li><i class="lni lni-star-filled"></i></li>
                                            {% endif %}
                                                
                                            
                                            {% comment %} <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                             
                                            <i class="lni lni-star"></i> {% endcomment %}
                                        </ul>
                                        <p>{{review.review}}</p>
                                        {% comment %} <p>Aveg : {{product.average_rating}}</p> {% endcomment %}
                                    </div>
                                </div>
                                {% empty %}
                                <div class="single-review">
                                    
                                    <div class="review-info">
                                        <h4> No reviews for this product.
                                           
                                        </h4>
                                        
                                        
                                    </div>
                                </div>
                                {% endfor %}
                                <!-- End Single Review -->
                                
                               
                                <!-- End Single Review -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Item Details -->

    <!-- Review Modal -->
    <div class="modal fade review-modal" id="ratingModal" tabindex="-1" aria-labelledby="ratingModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ratingModalLabel">Leave a Review</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="" method="post">
                    {% csrf_token %}
                <div class="modal-body">
                   {{form|crispy}}
                    {% comment %} <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="review-subject">Title</label>
                                <input class="form-control" type="text" name="title" id="review-subject" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="review-rating">Rating</label>
                                <select class="form-control" id="review-rating">
                                    <option>5 Stars</option>
                                    <option>4 Stars</option>
                                    <option>3 Stars</option>
                                    <option>2 Stars</option>
                                    <option>1 Star</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="review-message">Review</label>
                        <textarea class="form-control" id="review-message" rows="8" required></textarea>
                    </div> {% endcomment %}
                </div>
                <div class="modal-footer button">
                    <input type="submit" class="btn" value="Submit Review">
                    {% comment %} <button type="button" class="btn">Submit Review</button> {% endcomment %}
                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Review Modal -->
{% endblock content %}
    